#root {
  max-width: 1280px;
  margin: 0 30px;
  padding: 0;
  text-align: center;
  width: 100%;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

@keyframes logo-Bounce {
  0% {
    transform: scale(0.5);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(0.5);
  }
}

@keyframes animate {
  0% {
    transform: translateY(500vh)scale(0);
  }
  100% {
    transform: translateY(-30vh)scale(1);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes ripple-effect {
  0% {
    box-shadow: 0 0 0 0 rgb(221, 207, 17), 0 0 0 0 rgba(207, 178, 12, 0.788);
  }
  80% {
    box-shadow: 0 0 0 20px #fff0, 0 0 0 40px #fff0;
  }
  100% {
    box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
  }
}

@keyframes background-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 1100px) {
  #root {
    margin: 0;
  }
  body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  }
  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  h1{
    font-size: 50px;
    display: flex;
    justify-content: center;
  }
  .welcome {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcomeText {
    width: 500px;
    margin-top: 40px;
    margin: 0 20px;
  }
  .card {
    position: relative;
  }
  .byebye {
    flex-direction: column;
  }
  .byebye .byebye-text {
    margin-top: 40px;
    margin: 0 20px;
  }
  .about .about-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    margin-bottom: 150px;
  }
  .about-content .about-logo {
    font-size: 8rem;
  }
  .about-text p {
    font-size: 20px;
    width: 100%;
  }
  .Github .github-items {
    margin-bottom: 150px;
  }
  .Home .block {
    animation: none;
  }
  .footer .footerContains {
    display: none;
  }
  .footer .BelowContains {
    flex-direction: column;
    margin: 2px 2px;
  }
  .footer .BelowContains .handles {
    display: flex;
    justify-content: center;
    margin: 0 2px;
  }
}
@media screen and (max-width: 800px) {
  #root {
    margin: 0;
  }
  body {
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
  }
  html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  .header .navigation .items.sidebar {
    width: 100%;
  }
  .header .sidebar li {
    font-size: 20px;
  }
  h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
  }
  .welcome {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .welcomeText {
    width: 80%;
    margin-top: 40px;
    margin: 0 20px;
  }
  .card {
    position: relative;
  }
  .byebye {
    flex-direction: column;
  }
  .byebye .byebye-text {
    margin-top: 40px;
    margin: 0 20px;
  }
  .about .about-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
    margin-bottom: 150px;
  }
  .about-content .about-logo {
    font-size: 8rem;
  }
  .about-text p {
    font-size: 20px;
    width: 100%;
  }
  .Github .github-items {
    margin-bottom: 150px;
  }
  .Home .block {
    animation: none;
  }
  .footer .footerContains {
    display: none;
  }
  .footer .BelowContains {
    flex-direction: column;
    margin: 2px 2px;
  }
  .footer .BelowContains .handles {
    display: flex;
    justify-content: center;
    margin: 0 2px;
  }
}


@media(max-width: 1100px) {
  .hideItems {
    display: none;
  }
  .NavRoutes .menu {
    display: block;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  position: fixed;
  padding: 10px 15px;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  background-color: yellow;
  box-shadow: 0 10px 10px rgba(255, 255, 0, 0.5);
  width: 100%;
  left: 0;
  color: black;
  transition: all 0.8s ease-in-out;
}

.header .sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 600px;
  z-index: 1000;
  background-color: rgba(0,0,255,0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: all 0.8s ease-in-out;
  padding: 10px;
}

.sidebar li{
  font-size: 50px;
  width: 100%;
  display: flex;
}

.sidebar li:first-child {
  justify-content: start;
}

.menu {
  font-size: 26px;
  color: red;
  cursor: pointer;
  margin: 0 20px;
  display: none;
}

.header.sticky {
  background-color: rgba(255,255,0,0.5);
  z-index: 10000;
}


.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}

.items {
  display: flex;
  list-style-type: none;
  transition: all 0.8s ease;
}

.item {
  margin: 0 15px;
}

.active {
  color: red;
  position: relative;
}

.active::after,
.inactive::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.active::after {
  background-color: red;
}

.inactive::after {
  background-color: black;
}

.active:hover::after,
.inactive:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.inactive {
  color: black;
  position: relative;
}

.active:hover {
  color: red;
}

.inactive:hover {
  color: black;
}

.route {
  margin: 0 35px;
  color: black;
  padding: 5px 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease;
}

.route::before,
.route::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid red;
  transition: all 0.5s ease;
  z-index: 1;
}

.route::before {
  top: 0;
  left: 0;
  border-color: transparent;
  transform: translateX(-50%);
}

.route::after {
  bottom: 0;
  right: 0;
  border-color: transparent;
  transform: translateX(50%);
}

.route:hover::before {
  transform: translateX(0);
  border-color: red;
}

.route:hover::after {
  transform: translateX(0);
  border-color: red;
}

.route:hover {
  color: red;
}


.btn {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  padding: 10px 20px;
  font-size: 16px;
  color: red;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  background-color: red;
  color: white;
  box-shadow: 0px 4px 6px #888;
  border-radius: 30px;
}


.footer {
  position: fixed;
  left: 0;
  padding: 0 20px;
  background-color: rgb(65, 65, 65);
  width: 100%;
  bottom: -500px;
  transition: all 0.5s ease-in-out;
}

.footerContains {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
}

.contains {
  display: flex;
  gap: 80px;
}


.FooterItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.BelowContains {
  display: flex;
  justify-content: space-between;
  margin: 5px 40px;
}

.handleLink {
  margin: 0 30px;
}

.Home {
  color: white;
  margin: 100px 10px;
}

.welcome {
  display: flex;
  margin: 20px;
  justify-content: space-between;
  margin-bottom: 100px;
}

.welcome::before + .header {
  background-color: rgba(255, 255, 0, 0.5);
}

.img {
  position: relative;
  overflow: visible;
  display: inline-block;
}

.piedImg {
  font-size: 13rem;
  padding: 0 100px;
  display: block;
}

.welcomeText {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.piedLogo {
  font-size: 15rem;
  margin-bottom: 50px;
  animation: logo-Bounce 1.5s infinite;
}

.block {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

.card-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 300px;
  height: 420px;
  padding: 0;
  background-color: thistle;
  border-radius: 8px;
  transition: all 0.8s ease-in-out;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: top;
}

.card:hover {
  transform: rotateZ(360deg);
}

.card-title {
  font-size: 1.5rem;
  color: black;
}

.card-text {
  font-size: 10px;
  color: black;
}

.byebye {
  margin: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.last-img {
  width: 300px;
  box-shadow: -10px 10px 15px rgba(0,0,0,0.3);
}

.byebye-img {
  position: relative;
  overflow: visible;
  display: inline-block;
}

.byebye-img::before {
  content: '';
  position: absolute;
  top: 10%;
  left: -10%;
  width: 100%;
  height: 100%;
  border: 3px solid red;
  box-sizing: border-box;
  z-index: -1;
}

.byebye-text {
  width: 400px;
}

.bubbles {
  position: fixed;
  display: flex;
}

.bubbles span {
  width: 20px;
  height: 20px;
  background-color: rgb(251, 255, 0);
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #868406,
  0 0 50px #dde049,
  0 0 100px #d6e049;
  animation: animate 15s linear infinite;
  animation-duration: calc(120s / var(--i));
}

.bubbles span:nth-child(even) {
  background-color: rgb(255, 0, 0);
  box-shadow: 0 0 0 2px #860606,
  0 0 50px #e04949,
  0 0 100px #e04949;
}

.about {
  color: white;
  margin: 100px 0;
  position: relative;
}

.about-content {
  display: flex;
  margin: 0 200px;
  align-items: center;
  gap: 50px;
}

.about-logo {
  font-size: 20rem;
  color: red;
}

.about-text {
  font-size: 30px;
}

.contact {
  color: white;
  margin: 100px 0;
  position: relative;
}

.contact-items {
  list-style-type: none;
  font-size: 40px;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.contact-item {
  width: 300px;
  background-color: white;
  color: black;
  margin: 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  gap: 50px;
}

.contact-item:hover {
  transform: rotate3d(1,1,0,45deg);
  box-shadow: -10px 10px 4px 2px #860606,
  -10px 10px 50px #e0d649,
  -10px 10px 100px #e04949;
  background: linear-gradient(to bottom left, red, yellow);
}

.item-icon {
  color: red;
  transition: all 0.5s ease-in-out;
  border-radius: 50%;
}

.facebook {
  color: blue;
}

.github {
  color: black;
}

.instagram {
  color: red;
}

.twitter {
  color: blue;
}

.item-icon:hover {
  transform: translate3d(5px,-5px,0);
  box-shadow: -10px 10px 5px #aa2929;
  border-radius: 50%;
}

.item-text {
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  user-select: none;
}

.item-text:hover {
  transform: translate3d(5px,-5px,0);
  text-shadow: -10px 10px 5px #aa2929;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  opacity: 0;
  transition: all 0.9s ease-in;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 25px;
  padding: 0;
  pointer-events: none;
  border: 2px solid yellow;
  background-color: red;
  overflow: hidden;
  outline: none;
  animation-name: ripple-effect;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

.scroll-to-top:hover {
  transform: rotateY(360deg);
}


.scroll-text {
  transform: rotateZ(-90deg);
  margin: 0;
  font-size: 30px;
  color: yellow;
}

.scroll-to-top.show {
  opacity: 1;
  pointer-events: all;
}

.Github {
  position: relative;
  margin: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.github-items {
  list-style-type: none;
}

.github-item {
  margin: 20px;
  background-image: linear-gradient(to bottom right, red, yellow);
  border-radius: 7px;
  color: rgb(7, 7, 88);
  font-weight: bolder;
  text-shadow: 0 0 5px rgb(0, 204, 255),
  0 0 10px rgb(0, 204, 255),
  0 0 20px rgb(0, 204, 255),
  0 0 40px #ffffff,
  0 0 80px #ffffff,
  0 0 100px #ffffff,
  0 0 120px #ffffff;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
  transform-style: preserve-3d;
}

.github-item:hover {
  transform: rotateY(180deg);
  box-shadow: 0 0 20px red, 0 0 40px yellow;
}

.item-front {
  backface-visibility: hidden;
  position: absolute;
}

.item-back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.user {
  position: relative;
  left: 220%;
  font-size: 5rem;
  color: white;
  margin: 150px 0;
  overflow-x: hidden;
}